/* Loading */
.wanderingCubesItem-WPXqao:first-child {
	background-image: url() !important;
	background-size: auto ;
 	background-position: center ;
}

 /* Server Icon Shading */
.icon-27yU2q {
    background-color: transparent; 
}

 /* HSL Hoger */
.app,
.app-2rEoOp {
	margin-top: 10px;
}

/* Channels Lijst Op Lijn met Server Lijst */
.sidebar-2K8pFh, .sidebar-2K8pFh.hasNotice-1XRy4h { 
 	margin-left: 10px; 
}

/* Shadows Weg Rond Boxen */
.inner-1ilYF7 {
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.0); 
}

/* Server List Shading */
.guilds-1SWlCJ [class*=expandedFolderBackground] {
    background: rgba(0,0,0,0.3);
	bottom: 0px;
}
/* Status Next To Username in DM on Top */
.status-1XNdyw[aria-label="Do Not Disturb"] > svg > rect {
    fill: var(--dnd-color) !important;
}
.status-1XNdyw[aria-label="Offline"] > svg > rect {
    fill: var(--offline-color) !important;
}
.status-1XNdyw[aria-label="Online"] > svg > rect {
    fill: var(--online-color) !important;
}
.status-1XNdyw[aria-label="Idle"] > svg > rect {
    fill: var(--idle-color) !important;
}
/* Custom Chat Box */
.content-yTz4x3 > .chatContent-a9vAAp {
	background-color: transparent;
}
.chatContent-a9vAAp >  .messagesWrapper-1sRNjr {
	margin-bottom: 10px;
	background: var(--panels-opacity);
	border-radius: var(--panels-radius);
}
.chatContent-a9vAAp >  .form-2fGMdU {
	padding: 0px;
	padding-bottom: 0px;
	background-color: var(--panels-opacity);
	border-radius: var(--panels-radius);
}
.channelTextArea-rNsIhG.channelTextArea-2VhZ6z {
	box-shadow: 0 0px 0px 0px rgba(255, 255, 255, 0);
	margin-bottom: 0px;
}
.channelTextArea-2VhZ6z .attachButton-2WznTc {
    padding: 10px 10px 10px 12px;
	margin-bottom: 5px;
}
..attachButton-2WznTc, .markup-2BOw-j, .translateButton-DhP9x8, .button-3AYNKb, .fontSize18Padding-2RUesG, .emojiButtonNormal-TdumYh, .emojiButtonHovered-1rWNal {
    margin-top: 4px;
}

/* TopRoleEverywhere Fix */
.roleStyle-jQ7KI2, .tag-wWVHyf, .headerText-3Uvj1Y {
    display: inline-flex !important;
}